{% extends 'base_frontend.html' %} {% block body %}
<div class="main header-bg">
    <div class="container">
        <div class="col-4">&nbsp;</div>
        <div class="card card-signup col-4">
            <div class="header hatch header-text header-primary">
                StackOverflowLite
            </div>
            <div class="form-container mt-20 p-15">

                <div class="form-group">
                    <a href="/api/v1/questions" target="_blank" class="text-white">
                        <button class="floating header-text btn btn-primary bg-blue p-15 btn-block">
                                    <b>API Endpoints</b>
                                </button>
                    </a>
                </div>
                <div class="form-group">
                    <a href="https://solite.docs.apiary.io/#reference" target="_blank" class="text-white">
                        <button class="floating header-text btn btn-primary bg-blue p-15 btn-block">
                                    <b>API Documentation</b>
                                </button>
                    </a>
                </div>
                <div class="form-group">
                    <a href="https://ogwang.github.io/StackOverflowLite/UI" target="_blank" class="text-white">
                        <button class="floating header-text btn btn-primary bg-blue p-15 btn-block">
                                    <b>UI </b>
                                </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">&nbsp;</div>
    </div>
</div>
{% endblock %}